
.section1{
	width: 90%;margin: auto;
	
	height: 70vh;
}
.row{
	width: 100%;
	
}#box1{
	text-align: center;width: 40%;
	height: 150px;background:white;border-radius: 20px;
padding: 30px;
}
#box2{
	text-align: center;width: 40%;
padding: 30px;	height: 150px;background:white;border-radius: 20px;

}
#box3{
	text-align: center;width: 40%;
	padding: 30px;height: 150px;background:white
;border-radius: 20px;
}
#box4{
	text-align: center;width: 40%;
	padding: 30px;height: 150px;background:white
;border-radius: 20px;
}





